h2 {
    text-align: center;
}

#map {
    width: 90vw;
    height: 90vh;
    border: solid black 1px;
    margin: auto;
}

.snow-air-wind-label {
    font-size: 1.25em;
    font-weight: bold;
    display: inline;
    padding: 0.3em;
    border: 1px solid gray;
    background-color: silver;
    text-shadow: 
    -1px -1px 0 white
    -1px -1px 0 white
    -1px -1px 0 white
    -1px -1px 0 white
    ;
}
.snow-0 {
    background-color: rgb(211, 240, 253);
}

.snow-100 {
    background-color: rgb(104, 207, 255);
}

.snow-200 {
    background-color: rgb(0, 174, 255);
}

.wind-2 {
    background-color: rgb(201, 153, 255);
}

.wind-6 {
    background-color: rgb(252, 189, 138);
}

.air-u0 {
    background-color: cornflowerblue;
}
.air-a0 {
    background-color: tomato;
}