body {
    max-width: 1280px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

a:visited,
a:link {
    color:black;
}

a:hover {
    color:white;
    background-color: black;
}

hr {
    border: 1.5px solid black
}

.marg_r3 {
    margin-right: 0.3em;
}

.marg_l3 {
    margin-left: 0.3em;
}


/*header*/
header {
    text-align: center;
}

header p {
    text-align: right;
    font-weight: bold;
    font-size: 0.8em;
    padding-right: 1em;
    margin-top: -2em;
}

.white,
.white a:link,
.white a:visited {
    color:white;
}

header nav img {
    border-radius: 50%;
}

header address {
    font-size: 0.9em;
    font-style: italic;
}

/*main*/
main {
    max-width: 70%;
    margin: auto;
}

main p {
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
}

main figure {
    margin-left: 0;
    width: 100%;
}

main figure img {
    border: 1px solid black 
}

#map {
    height: 360px;
    width: 100%;
    border: 1px solid grey;
}

main ul {
    list-style-type: none;
}

/*footer*/
footer .next{
    float:right;
}

footer .back{
    float: left;
}

footer {
    padding: 1em 0 3em 0;
}


@media screen and (max-width: 900px) {
    main {
        max-width: 90%;
    }
}

@media screen and (max-width: 1280px) {
    header img.banner {
        width: 100vw;
    }

    main img.textimg {
        width: 100%;
    }
}